 /* Estilo del contenedor */
 .contenedor-principal {
     flex-direction: column;
     /* Pone el botón debajo del tablero */
     align-items: center;
     /* Centra horizontalmente todo lo que hay dentro */
     width: 100%;
     /* Ocupa todo el ancho para poder centrar */
     margin-top: 20px;
 }

 #tablero {
     display: grid;
     /* Creamos 10 columnas de igual tamaño (40px cada una) */
     grid-template-columns: repeat(10, 40px);
     /* Creamos 10 filas de igual tamaño */
     grid-template-rows: repeat(10, 40px);
     gap: 1px;
     /* Espacio entre celdas para que parezca una rejilla */
     background-color: #ccc;
     /* Color de fondo que se verá en el gap */
     width: fit-content;
 }

 /* Estilo de cada celda */
 .celda {
     width: 40px;
     height: 40px;
     background-color: white;
     cursor: pointer;
 }

 /* Clase para cuando la célula esté "viva" */
 .viva {
     background-color: #2c3e50;
 }

 button {
     background-color: #3db01b;
     margin-top: 3%;
     width: 10%;
     height: 10vh;
     display: block;  /* El botón ahora ocupa toda su línea */
 }